@import '../../../theme/mixins';

.auth {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;

  ion-avatar {
    width: 128px;
    height: 128px;
    margin: auto auto 1rem;
  }

  &__show-password {
    align-self: center;
    --ripple-color: transparent;
    --background-hover: var(--background);
  }
}
