@import '../../../theme/mixins';

ion-thumbnail {
  width: 66px;
  height: 66px;
}

h1 {
  font-size: 18px;
  color: var(--ion-color-primary);
  padding-bottom: 0.5rem;
  @include sm() {
    padding: 0.5rem;
  }
}

.offer-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;

  ion-icon {
    margin-right: 0.5rem;
  }

  span {
    display: inline-block;
    margin: 0.25rem 0;
  }

  @include sm() {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: inherit;

    span {
      margin: 0 0.5rem;
    }
  }
}
