<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        *ngIf="isLoading"
        size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3"
        class="ion-text-center ion-padding ion-margin-vertical"
      >
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col
        *ngIf="!isLoading && (!loadedBookings || loadedBookings?.length <= 0)"
        size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3"
        class="ion-text-center ion-padding ion-margin-vertical"
      >
        <div class="lotties-wrapper">
          <ion-text class="ion-margin-bottom">
            No Bookings found!
          </ion-text>
          <ng-lottie
            class="ion-margin-top"
            [options]="options"
            (animationCreated)="animationCreated()">
          </ng-lottie>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading && loadedBookings && loadedBookings?.length > 0">
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBookings" #slidingBooking>
            <ion-item class="booking">
              <ion-avatar slot="start">
                <ion-img [src]="booking?.placeImage"></ion-img>
              </ion-avatar>
              <ion-label>
                <h5>{{ booking?.placeTitle }}</h5>
                <div class="booking__guests">
                  <ion-icon name="people" color="primary"></ion-icon>
                  Guests: {{ booking?.guestNumber }}
                </div>
                <div class="booking__dates">
                  <ion-icon name="calendar-outline" color="primary"></ion-icon>
                  <ion-text color="secondary">{{ booking?.bookedFrom | date }}</ion-text>
                  <span>to</span>
                  <ion-icon name="calendar" color="primary"></ion-icon>
                  <ion-text color="secondary">{{ booking?.bookedTo | date }}</ion-text>
                </div>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="onCancelBooking(booking?.id, slidingBooking)">
                <ion-label class="ion-padding ion-text-center">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-label>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
